<div style="width: 800px; height: 600px; margin: 7vh auto auto;">
	<div id="loginWrapperHeader" class="ui-widget-header">
		<div style="width: 80%; margin: auto; color: #3383bb">
			<h2>{{loginText}}</h2>
		</div>
	</div>
	<div id="loginWrapper">

		<div class="loginPartForm">
			<label for="username" style="float: left; width: 100%">{{username}}</label>
			<input class="loginInput" id="username" type="text"
				placeholder="Nazwa Uzytkownika" ng-model='inputUsername' />
		</div>
		<div class="loginPartForm">
			<label style="width: 100%; float: left" for="password">{{password}}</label>
			<input class="loginInput" id="password" type="password"
				placeholder="Haslo" ng-model='inputPassword' />
		</div>
		<div id="loginButton">
			<button ng-click='logInWithCredentials()'>{{logIn}}</button>
		</div>
		<div class='loginPartForm' ng-if='loginError'>Error while login!
		</div>
	</div>
	
</div>