<div style="width: 800px; height: 600px; margin: 7vh auto auto;">
	<div id="loginWrapperContainer">
		<div id="loginWrapper">
			<div id="loginWrapperFloatingContainer">
				<div class="loginPartForm">
					<label style="width: 100%; float: left" for="password">{{username}}</label>
					<input class="loginInput" id="username" type="text"
						placeholder="..." ng-model='inputUsername' />
				</div>
				<div class="loginPartForm">
					<label style="width: 100%; float: left" for="password">{{password}}</label>
					<input class="loginInput" id="password" type="password"
						placeholder="..." ng-model='inputPassword' />
				</div>
				<div id="loginButton">
					<button ng-click='logInWithCredentials()'
						class="btn btn-success btn-lg custom-color">{{logIn}}</button>
				</div>
				{{loginStatus}}
				<div class='loginPartForm' ng-if='loginError'>Error while
					login!</div>

			</div>
		</div>

	</div>

</div>