<div id="contentWrapper">
	<h3>{{connectionStatus}}</h3>
	<div class="ui-widget-header" style="width: 80%; margin: auto">
		<div id="pdfPrint" ng-click="exportPdf()"></div>
	</div>
	<div id="dataTableWrapper">
		<div
			style="width: 80%; height: 80%; padding-top: 30px; margin: auto; box-shadow: 1px 1px 19px 1px black">
			<table mmt-table style='width: 100%'>
				<thead>
					<tr>
						<th>Select</th>
						<th>Data</th>
						<th>Imie</th>
						<th>Nazwisko</th>
						<th>Zarobki</th>
					</tr>
				</thead>

			</table>
		</div>
	</div>
</div>