body {
	margin: 0;
	padding: 0;
}

#loginWrapper {
	width: 100%;
	height: 100%;
	margin: auto;
	background: none repeat scroll 0% 0% whitesmoke;
	box-shadow: 1px 1px 19px 1px black;
	font-size: 20px;
	color: #3383bb;
	font-weight: bold;
}

.loginPartForm {
	width: 100%;
	height: 20%;
	text-align: center;
	float: left;
}

#loginButton {
	float: left;
	width: 100%;
	margin-top: 50px;
}

.custom-color {
	background: #A2BCD8 !important;
	opacity: 0.8;
}

.custom-color:hover {
	border: 1px solid #A2BCD8;
	opacity: 1;
}

#loginButton>button {
	border: 1px solid #A2BCD8;
}

#loginWrapperContainer {
	background-color: #A2BCD8;
	border-radius: 6px;
	box-shadow: 1px 1px 16px 1px #A2BCD8;
	height: 100%;
	padding: 8px;
	text-align: center;
	width: 100%;
}

#loginWrapperFloatingContainer {
	height: 100%;
	width: 90%;
	margin: auto;
	padding-top: 130px;
}

#header {
	position: static;
	top: 0px;
	height: 45px;
	background: #A2BCD8;
}

#footer {
	position: static;
	bottom: 0px;
	height: 45px;
	background: #A2BCD8;
}

#content {
	height: 900px;
	background-color: whitesmoke;
	top: 45px;
	bottom: 45px;
	position: static;
}

.pdfPrint {
	background: white
		url("../../resources/images/icons/file_extension_pdf.png");
	height: 32px;
	width: 32px;
	background-repeat: no-repeat;
	float: left;
	cursor: pointer;
}

#loginWrapperFooter {
	height: 17%;
	width: 80%;
	margin: auto;
	border-radius: 6px;
	box-shadow: 1px 1px 19px 1px black;
}

.loginInput {
	border: 1px solid black;
	border-radius: 5px;
	height: 50px;
	width: 50%;
	text-align: center;
}

#padlockIcon {
	width: 60px;
	height: 60px;
	background: #eee url('../../resources/images/icons/padlock60b.png');
	margin: auto;
}